/* main stylesheet */


:root {
	--white: #FFF;
	--gray1: #DDD;
	--gray2: #BBB;
	--gray3: #999;
	--gray4: #696969;
	--gray5: #444;
	--gray6: #242424;
	--black: #111;

	--pink1: #d07e91;
	--pink2: #ab5166;

	--blue1: #96bbcd;
	--blue2: #53849b;

	--green1: #70cc51;
	--green2: #66b54c;

	--merriweather: 'merriweatherregular', serif;
	--merriweather-bold: 'merriweatherbold', serif;
	--merriweather-black: 'merriweatherblack', serif;

	--montserrat: 'Montserrat', sans-serif;
}


/* global variables */

body {
	background-color: var(--white);
	color: var(--gray6);
	font-family: var(--montserrat);
}

.container, .container-wide, .container-full {
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container > .wrapper {
	width: 85%;
	max-width: 1200px;
}
.container-wide > .wrapper {
	width: 95%;
}
.container-full > .wrapper {
	width: 100%;
}

.d-none {
	display: none;
}


.btn {
	padding: 1rem;

	border-radius: 0.5rem;
	color: inherit;
	text-decoration: none;
}


/* main elements */

.skip-btn:not(:focus):not(:hover) {
	top: -100%;
	opacity: 0;
}
.skip-btn:focus {
	top: 0;
	opacity: 1;
}

.skip-btn {
	position: absolute;
	left: 0;
	z-index: 100;

	padding: 1rem;

	background-color: var(--gray1);
}


/* @@@top button styles */

#topBtn {
    position: fixed;
    bottom: 5%;
    right: -83px;
    z-index: 50;

    border: none;
    background-color: transparent;
    font-size: 3.5em;
    color: rgba(47, 48, 48, 0.25);
    opacity: 0;

    -webkit-transition: color .16s, right ease-in-out 1.25s;
    -moz-transition: color .16s, right ease-in-out 1.25s;
    -o-transition: color .16s, right ease-in-out 1.25s;
    transition: color .16s, right ease-in-out 1.25s;
}
#topBtn:hover {
    cursor: pointer;
    color: rgba(47, 48, 48, 0.8)
}



/* @@header styles */

.header-con > .wrapper {
	padding: 1.25rem 0;

	display: grid;
	align-items: center;
	justify-items: center;
	grid-row-gap: 0.5rem;

	border-bottom: 2px solid var(--gray1);
}


.header_logo {
	width:  100%;

	color: var(--gray6);
	font-family: var(--merriweather-black);
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}
.header_logo > img {
	margin: 0 auto;
	max-height: 200px;
}
.header_logo:hover {
	color: var(--gray4);
}


.header-right {
	width: 100%;
}

.header_nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-item {
	padding: 0.5rem;

	background-color: transparent;
	color: var(--gray4);
	text-decoration: none;
}
.nav-item:hover {
	color: var(--gray6);
}
.nav-item:after {
  	display:block;
  	content: '';
  	border-bottom: solid 3px var(--pink1);
  	transform: scaleX(0);
  	-webkit-transition: transform .14s ease-in-out;
  	-moz-transition: transform .14s ease-in-out;
  	-o-transition: transform .14s ease-in-out;
  	transition: transform .14s ease-in-out;
}
.nav-item:hover:after { transform: scaleX(1); }


@media only screen and (min-width: 640px) {

	.header-con > .wrapper {
		display: flex;
		justify-items: end;
	}

	.header_logo {
		text-align: left;
	}

	.header_logo > img {
		margin: 0;
		max-height: 100px;
	}

	.header_right {
		width: auto;
	}

	.header_nav {
		justify-content: end;
	}

	.nav-item {
		padding: 0.5rem 1rem;
	}
}



/* @@footer styles */

.footer-con {
	background-color: var(--gray6);
}

.footer-con > .wrapper {
	padding: 2rem 0;

	display: grid;
	justify-items: center;
	grid-row-gap: 1rem;
}


.footer_nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer-item {
	padding: 1rem;

	color: var(--gray3);
	font-size: 1em;
	text-decoration: none;
}
.footer-item:hover {
	color: var(--gray1);
}


.copyright {
	color: var(--gray4);
	font-size: 0.9em;
	text-align: center;
}



/* @@main index styles */

.main-con {
	min-height: 100%;
}

.main-con > .wrapper {
	padding: 2rem 0;

	display: grid;
	justify-items: center;
	grid-row-gap: 2rem;
}



.banner-con {
	width: 100%;

	display: grid;
	justify-items: center;
	align-items: center;

	border-radius: 0.5rem;
	overflow: hidden;
}


.banner-img {
	grid-area: 1/1/2/2;
	width: 100%;
	height: 50vh;
	max-height: 400px;
}

.banner-img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.banner-text {
	grid-area: 1/1/2/2;

	padding: 1rem 2rem;

	color: var(--white);
	font-family: var(--merriweather-black);
	font-size: 3em;
	text-shadow: 6px 4px 24px var(--black);
}


.banner-info {
	padding: 2rem 0;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--pink1);
	color: var(--white);
	font-size: 1.25em;
}



.info-con {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-row-gap: 1rem;
}


.info-item {
	padding: 1rem 2rem;
}

.info-item > h3 {
	color: var(--pink1);
	font-family: var(--merriweather-bold);
	font-size: 1.5em;
}

.info-item > p {
	color: var(--gray5);
	font-weight: 300;
}


@media only screen and (min-width: 900px) {

	.info-con {
		display: flex;
		justify-content: space-between;
	}

	.info-item {
		margin-right: 2rem;
	}

	.info-item:last-child {
		margin-right: 0;
	}

}



.about-con > .wrapper {
	padding: 2rem 0;

	display: grid;
	justify-content: center;
	align-items: center;
	grid-row-gap: 1rem;
}

.about-img > img {
	border-radius: 0.5rem;
}


.about-text {
	display: grid;
	grid-row-gap: 1rem;
}


.about-contact {
	margin-top: 1rem;
}

.about-contact > .btn {
	background-color: var(--green2);
	color: var(--white);
	font-size: 1.25em;
	font-weight: 700;
}
.about-contact > .btn:hover {
	background-color: var(--green1);
}


.text-h3 {
	color: var(--pink1);
	font-family: var(--merriweather-black);
	font-size: 1.65em;
}

.text-h4 {
	color: var(--gray5);
	font-family: var(--merriweather-bold);
	font-size: 1.125em;
}

.text-p {
	color: var(--gray5);
	font-weight: 300;
}

.text-ul {
	padding-left: 2rem;
}


@media only screen and (min-width: 640px) {

	.about-con > .wrapper {
		padding: 4rem 0;

		display: flex;
		justify-content: start;
		align-items: start;
	}

	.about-img {
		margin-right: 1rem;
		min-width: 200px;
		height: 100%;
	}

	.about-img > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.about-text {
		width: auto;
	}

	.text-h3 {
		font-size: 2em;
	}

}


@media only screen and (min-width: 900px) {

	.about-img {
		margin-right: 2rem;
		width: 100%;
		min-width: 300px;
		max-width: 400px;
	}

}



.services-con {
	width:  100%;
}

.services-con > .wrapper {
	padding: 2rem 0;
	width:  100%;
}

.services-item {
	padding: 2rem 0;

	display: grid;
	grid-row-gap: 1rem;
}

.services-img > img {
	border-radius: 0.5rem;
}

@media only screen and (min-width: 640px) {

	.services-con > .wrapper {
		padding-top: 0;

		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		justify-items: center;
		grid-column-gap: 2rem;
	}

	.services-item {
		padding: 4rem 0;
	}

	.services-item:nth-child(4) {
		grid-area: 2/1/3/2;
		margin-right: auto;
	}
	.services-item:nth-child(3) {
		grid-area: 2/2/3/3;
	}

	.services-item.services-img {
		min-width: 200px;
		max-width: 400px;
	}
}


.img-con {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-con > .wrapper {
	width: 100%;
	height: 100%;
	max-height: 50vh;
}

.img-con img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 0.5rem;
}



.contact-con {
	margin-top: 2rem;
	padding: 2rem;
	width: 100%;

	display: grid;
	align-items: center;
	grid-row-gap: 1rem;

	border-radius: 0.5rem;
	overflow: hidden;

	background-color: var(--green2);
	color: var(--white);
}


.contact-con > h2 {
	font-family: var(--merriweather-black);
	font-size: 2em;
}


.contact-con > p {
	font-weight: 300;
}
.contact-con > p:last-child {
	font-size: 1.25em;
}

.contact-con a {
	color: inherit;
}
